@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;900&family=Poppins:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

header {
    margin-top: 47px;
    margin-left: 42px;
}

.link-header {
    color: #17233D;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    margin-right: 36px;
    cursor: pointer;
}

.bentrar {
    width: 124px;
    height: 51px;
    border-radius: 6px;
    border: 1px solid #4CB538;
    background: #6FBF44;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;

}


img {
    margin-left:121px;
    margin-top: 80px;
    width: 595.178px;
    height: 500.005px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 85px;
}

h1 {
    color: #161A49;
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0.596px;
    width: 582px;
}

p {
    color: #4B505A;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    width: 493px;
    margin-top: 47px;
    margin-bottom: 55px;
}

.bler {
    width: 124px;
    height: 51px;
    border-radius: 6px;
    border: 1px solid #4CB538;
    background: #6FBF44;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

@media screen and (max-width: 900px) {

    * {
        padding: 0;
        margin: 0;
    }

header :not(button) {
    display: none;
}

.bentrar {
    position: absolute;
    right: 15px;
    top: 17px;
}

img {
    position: fixed;
    height: 80%;
    width: 50%;
    margin: 59px 39px 22px 39px;
    bottom: 22px;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px; 
    letter-spacing: 0.596px;
    width: 278px;
    margin-top: 129px;
}

p {
    display: block;
    width: 304px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    margin-top: 29px;
    margin-bottom: 26px;
}

.bler {
    display: block;
    margin: auto;
}

}
